<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20">
                <form class="login100-form validate-form register-form">
                    <h2 class="title" style="text-align: center; margin-bottom: 50px">Registration Info</h2>
                    <span class="error-message text-danger"></span>
                    <div class="wrap-input100 validate-input m-b-50" data-validate="">
                        <input class="input100" type="text" name="fullname">
                        <span class="focus-input100" data-placeholder="Full Name"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate="">
                        <input class="input100  js-datepicker" type="text" readonly name="birthday">
                        <span class="focus-input100" data-placeholder="Birthday"></span>
                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                       
                    </div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate="">
                        <input class="input100" type="text" name="email">
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate="">
                        <input class="input100" type="password" name="password">
                        <span class="focus-input100" data-placeholder="Password"></span>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate="">
                        <input class="input100" type="password" name="confirmpassword">
                        <span class="focus-input100" data-placeholder="Repeat Password"></span>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Sign up
                        </button>
                       
                    </div>
                </form>
                <div class="text-center">
                    <span class="txt1">
                        Have already an account?
                    </span>
                    <a href="/login" style="margin-top: 10px;" class="txt2">
                         Login Here
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    <script src="/vendor/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>

    <script src="/vendor/animsition/js/animsition.min.js" type="text/javascript"></script>

    <script src="/vendor/bootstrap/js/popper.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="/vendor/select2/select2.min.js" type="text/javascript"></script>

    <script src="/vendor/daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js" type="text/javascript"></script>

    <script src="/vendor/countdowntime/countdowntime.js" type="text/javascript"></script>
     <script src="/javascripts/main.js" type="text/javascript"></script>
    
</body>

</html>